<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add new Agent</title>
    <link rel="stylesheet" th:href="@{/static/css/layout.html}">
</head>
<body>
<div th:replace="fragment/layout :: top-nav-bar"></div>
<form th:object="${agent}" method="post">
    <input type="hidden" th:field="*{id}">
    <label for="name">Name: </label>
    <input id="name" type="text" th:field="*{name}">
    <label for="gender">Gender: </label>
    <select id="gender" th:field="*{gender}">
        <option th:value="F">Female</option>
        <option th:value="M">Male</option>
        <option th:value="O">Other</option>
    </select>
    <label for="level">Level: </label>
    <input id="level" type="number" th:field="*{level}">
    <label for="contact_number">Contact number</label>
    <input id="contact_number" type="text" th:field="*{contactNumber}">
    <button type="submit">Submit</button>
</form>
</body>
</html>