<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link href="../../static/css/layout.html" th:href="@{/css/layout.css}" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <title>Caller Details</title>
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
<div th:replace="fragment/layout :: top-nav-bar"></div>

<div class="content-section">
  <h4>Caller Details</h4>
  <br><br>
  <form method="post" th:object="${caller}">
    <input type="hidden" th:field="*{id}">
    <label>Name of caller:</label>
    <input type="text" th:field="*{name}">
    <br><br>
    <label>Phone number of caller:</label>
    <p th:text="*{contactNumber}"></p>
    <input type="hidden" th:field="*{contactNumber}">
    <label>Whatsapp Number of caller:</label>
    <input type="text" th:field="*{whatsappNumber}">
    <br><br>
    <label>Level(priority) of caller:</label>
    <input type="number" th:field="*{level}">
    <br><br>
    <label>Gender</label>
    <select th:field="*{gender}"  name="gender">
      <option th:value="'F'">Female</option>
      <option th:value="'M'">Male</option>
      <option th:value="'O'">Other</option>
    </select>
    <br><br>
    <label>Location of caller:</label>
    <input type="text" th:field="*{location}">
    <br><br>
    <label>Age Group</label>
    <select th:field="*{ageGroup}">
      <option value="AGES_0_TO_14">0 to 14 years old</option>
      <option value="AGES_15_TO_47">15 to 47 years old</option>
      <option value="AGES_48_TO_63">48 to 63 years old</option>
      <option value="AGES_64_AND_ABOVE">Above 64 years old</option>
    </select>
    <br><br>
    <label>First Language</label>
    <input type="text" th:field="*{language1}">
    <br><br>
    <label>Second language</label>
    <input type="text" th:field="*{language2}">
    <br><br>
    <label>Educational qualifications</label>
    <input type="test" th:field="educationalStatus">
    <br><br>
    <label>Educational Remarks</label>
    <input type="text" th:field="*{educationalRemarks}">
    <br><br>
    <label>Employment status:</label>
    <select th:field="*{employmentStatus}" name="employment_status">
      <option th:value="unknown">Unknown</option>
      <option th:value="employed">Employed</option>
      <option th:value="unemployed">Not Employed </option>
    </select>
    <br><br>
    <label>Marital Status</label>
    <select th:field="*{maritalStatus}">
      <option value="unknown">Unknown</option>
      <option value="married">Married</option>
      <option value="unmarried">Unmarried</option>
    </select>
    <br><br>
    <label>Marital Remark</label>
    <input type="text" th:field="*{maritalRemarks}">
    <br><br>
    <label>Category</label>
    <select th:field="*{category}">
      <option value="INDIVIDUALS_WITH_COVID_AFFECTED_FAMILIES">Individuals with covid affected families</option>
      <option value="CAREGIVERS_AND_FRONT_LINE_WORKERS">Care givers and front line workers</option>
      <option value="WELL_WISHERS_WHO_WISH_TO_HELP_COVID_AFFECTED_FAMILIES">Well wishers who wish to help covid affected
        families</option>
      <option value="SURVIVORS_OF_TRAUMA">Survivors of trauma</option>
      <option value="INDIVIDUALS_WITH_SUICIDAL_TENDENCIES">Individuals with suicidal tendencies</option>
    </select>
    <br><br>
    <label>Additional Remarks</label>
    <input type="text" th:field="*{additionalRemarks}">
    <label>Customer Blocker</label>
    <select th:field="*{customer_blocked}">
      <option value="true">True</option>
      <option value="false">False</option>
    </select>
    <button type="submit">Submit Details</button>
    <br><br>
  </form>
</div>
</body>
</html>