<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="../../static/css/success.css" th:href="@{/css/success.css}">
    <title>Success!</title>
</head>
<body>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>


<div id="managers-only">
    <table class="table">
        <thead>
            <tr>
                <th>Agent name</th>
                <th>Agent phone number</th>
                <th>Agent role</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="agent : ${agents}">
                <td><input th:field="${agent.name}" th:placeholder="${agent.name}"></td>
                <td><input th:field="${agent.contactNumber}" th:placeholder="${agent.contactNumber}"></td>
                <td><input th:field="${agent.role}" th:placeholder="${agent.role}"></td>
                <td th:text="${agent.role}"></td>
            </tr>
        </tbody>
    </table>

    <div th:if="${agent.role == 'manager'}">
        <p>Managers only 1</p>
    </div>
</div>
</body>
</html>