<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nxz/thymeleaf/layout" layout:decorate="~{core-layout}">
<head>
    <title>Insert title here</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div layout:fragment="content" class="ui attached segment">

    <form class="ui form" th:action="@{/addDetails}" method="post" th:object="${agent}">
        <h2 th:text="|Add Details for :*{contactNumber}|"></h2>
        <label>Name</label>
        <input type="text" name="name" th:field="*{name}">
        <br>
        <label>Gender</label>
        <input type="text" name="gender" th:field="*{gender}">
        <br>
        <u1>
            <li th:each=" lang : ${l}">
                <div class="ui checkbox">
                    <input type="checkbox" th:field="*{languages}" th:value="${lang.id}">
                    <label th:text="${lang.language}"></label>

                 </div>
            </li>
            <br>
            <label>Please enter Other Languages:</label>
            <input type="text" th:object="${other}" th:field="*{lan}" name="languages">
        </u1>
        <u1>
            <li th:each="s : ${skills}">
                <div class="ui checkbox">
                    <input type="checkbox" th:field="*{skills}" th:value="${s.id}">
                    <label th:text="${s.skill}"></label>
                </div>
            </li>
            <br>
            <label>Please enter other skills</label>
            <input type="text" th:object="${other}" th:field="*{skills1}" name="skills">
        </u1>
        <div class="ui checkbox">
            <button class="ui-button" type="submit">Submit</button>
        </div>
    </form>
</div>
<!--<form action="#" th:action="@{/addDetails}" th:object="${agent}" method="post">

    <table border="1">

        <th:block th:each="lang : ${l}">
            <tr>
                <td th:text="${lang.language}">A Test'</td>
                    <td><input type="checkbox" th:field="*{languages}" th:value="${lang.id}" /></td>


            </tr>
        </th:block>

    </table>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>-->

</body>
</html>