<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../static/css/success.css" th:href="@{/css/success.css}">
    <title>Success!</title>
</head>
<body>
<p>Success</p>

<!--<input type="text" id="id" th:object="${id}">-->
<input id="id" type="number" name="id" th:field="${agent.id}"/>

<div id="toggle">
    <label class="switch">
        <input type="checkbox" id="toggle-switch" onclick="toggler()">
        <span class="slider round"></span>
    </label>
</div>
</body>
</html>
<script>
    let phoneNumber=localStorage.getItem("contactNumber");
    //console.log(phoneNumber);


    function toggler() {
        let checkboxVal = document.getElementById("toggle-switch");
        if (checkboxVal.checked === true) {
            let xhttp = new XMLHttpRequest(); //creating ajax req
            //console.log(document.getElementById("id"));
            xhttp.open("GET","http://localhost:8082/" + document.getElementById("id").value + "/mark/online",true);
            xhttp.send();
        } else {
            let xhttp = new XMLHttpRequest();
            xhttp.open("GET","http://localhost:8082/" + document.getElementById("id").value + "/mark/offline",true);
            xhttp.send();
        }
    }

</script>