<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../static/css/success.css" th:href="@{/css/success.css}">
    <title>Success!</title>
</head>
<body>
<p>Success</p>

<div id="toggle">
    <label class="switch">
        <input type="checkbox" id="toggle-switch" onclick="toggler()">
        <span class="slider round"></span>
    </label>

    <div id="manager-only">
        <p>Managers only</p>
    </div>
</div>
</body>
</html>
<script>

    //let managersOnly = document.getElementById("manager-only");
    let contactNumber = sessionStorage.getItem("contactNumber");
    if (contactNumber === null) {

    }
    /*let xhttp = new XMLHttpRequest();
    xhttp.open("GET","http://localhost:8082/test/" + contactNumber,false);
    xhttp.onload = function() {
        let responseObject = JSON.parse(xhttp.responseText);
        let agentObject = responseObject[0].agent;
        sessionStorage.setItem("currentAgent", agentObject);
        sessionStorage.setItem("agent_id",agentObject["id"]);
        sessionStorage.setItem("role",agentObject["role"]);
        console.log("The id of the agent is" + agentObject["id"]);
        console.log("The name of the agent is " + agentObject["name"]);
        console.log("The role of the agent is " + agentObject["role"]);
    }
    xhttp.send();


    if (sessionStorage.getItem("role").localeCompare("manager")) {
        document.getElementById("manager-only").style.visibility = "hidden";
    } else {
        document.getElementById("manager-only").style.visibility = "visible";
    }*/



    function toggler() {
        let contactNumber = sessionStorage.getItem("contactNumber")
        console.log(contactNumber);
        let id = sessionStorage.getItem("agent_id");
        let checkboxVal = document.getElementById("toggle-switch");
        if (checkboxVal.checked === true) {
            let xhttp = new XMLHttpRequest(); //creating ajax req
            //console.log(document.getElementById("id"));
            xhttp.open("GET","http://localhost:8082/" + id + "/mark/online",true);
            xhttp.send();
        } else {
            let xhttp = new XMLHttpRequest();
            xhttp.open("GET","http://localhost:8082/" + id + "/mark/offline",true);
            xhttp.send();
        }
    }

</script>