<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
</head>
<body>


<div>
    <input type="text" id="phonenumber">
    <button type="button" onclick="phoneAuth()">send code</button>
</div>

</body>
</html>


<script>
    function phoneAuth() {
        //first check if the number is in the database
        let contactNumber = document.getElementById("phonenumber").value;
        localStorage.setItem("contactNumber", contactNumber);
        //console.log(localStorage['contactNumber']);
        let xhttp = new XMLHttpRequest();
        xhttp.open("GET","http://localhost:8082/test/" + contactNumber,true);
        xhttp.onload = function() {
            let responseObject = JSON.parse(xhttp.responseText);
            let agentObject = responseObject[0].agent;
            sessionStorage.setItem("currentAgent", agentObject);
            console.log("The id of the agent is" + agentObject["id"]);
            console.log("The name of the agent is " + agentObject["name"]);



            /*let status = JSON.parse(xhttp.responseText);
            console.log(status);
            if (status[0].phoneNumber === "success") {
                alert("Success!!!");
            }*/
        }
        xhttp.send();
        //location.replace("http://localhost:8082/success")



    }
</script>