<!doctype html>
<html xmlns:th="https://www.thymeleaf.org">


<nav th:fragment="top-nav-bar-agent">
  <div class="nav">
    <a th:href="@{/team/view}">View My Team</a>
    <a th:href="@{/addDetails}">Edit my details</a>
    <a th:href="@{/private/sessionLogout}">Log Out</a>
  </div>
</nav>

<nav th:fragment="top-nav-bar-admin">
  <div class="nav" th:switch="${agent.role}">
    <p th:case="'ADMIN'">
    <a th:href="@{/admin/teams/all}">View all teams</a>
    <a th:href="@{/admin/unassignedAgents}">View Unassigned Agents</a>
    <a th:href="@{/addDetails}">Edit my details</a>
    <a th:href="@{/addLangandServ}">Add Languages and Services</a>
    <a th:href="@{/private/sessionLogout}">Log Out</a>
    </p>
  </div>
</nav>