<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="top-nav-bar">
  <div th:if="${role == 'ROLE_AGENT'}">
    <nav>
      <div class="topnav">
        <a th:href="@{/success}">Dashboard</a>
        <a th:href="@{/team/view}">View My Team</a>
        <a th:href="@{/scheduleException/new}">Add new Exception</a>
        <a th:href="@{/addDetails}">Edit my details</a>
        <a th:href="@{/private/sessionLogout}">Log Out</a>
      </div>
    </nav>
  </div>
  <div th:if="${role == 'ROLE_TEAM_LEAD'}">
    <nav>
      <div class="topnav">
        <a th:href="@{/success}">Dashboard</a>
        <a th:href="@{/team/view}">View My Team</a> <!-- make this -->
        <a th:href="@{/unassignedAgents}">View Unassigned Agents</a>
        <a th:href="@{/lead/schedule/make}">Make Tomorrow's schedule</a>
        <a th:href="@{/addDetails}">Edit My Details</a>
        <a th:href="@{/private/sessionLogout}">Log Out</a>
      </div>
    </nav>
  </div>
  <div th:if="${role == 'ROLE_ADMIN'}">
    <nav>
      <div class="topnav">
        <a th:href="@{/success}">Dashboard</a>
        <a th:href="@{/admin/unassignedAgents}">View Unassigned Agents</a>
        <a th:href="@{/admin/agent/new}">Add New Agent</a>
        <a th:href="@{/admin/team/new}">Add New Team</a>
        <a th:href="@{/addLangandServ}">Add Languages and Services</a>
        <a th:href="@{/addDetails}">Edit my details</a>
        <a th:href="@{/private/sessionLogout}">Log Out</a>
      </div>
    </nav>
  </div>

  <div  th:fragment="flashed-messages">
    <div th:if="${message}">

      <p th:text="${message}">
      </p>
    </div>
  </div>
</div>
