<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link href="../../static/css/layout.html" th:href="@{/static/layout.css}" rel="stylesheet">
    <title>Caller Details</title>
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
<div th:if="${role == 'AGENT'}">
    <nav>
        <div class="topnav">
            <a th:href="@{/team/view}">View My Team</a>
            <a th:href="@{/scheduleException/new}">Add new Exception</a>
            <a th:href="@{/addDetails}">Edit my details</a>
            <a th:href="@{/private/sessionLogout}">Log Out</a>
        </div>
    </nav>
</div>
<div th:if="${role == 'TEAM_LEAD'}">
    <nav>
        <div class="topnav">
            <a th:href="@{/lead/team/view}">View My Team</a> <!-- make this -->
            <a th:href="@{/addDetails}">Edit My Details</a>
            <a th:href="@{/private/sessionLogout}">Log Out</a>
        </div>
    </nav>
</div>
<div th:if="${role == 'ADMIN'}">
    <nav>
        <div class="topnav">
            <a th:href="@{/admin/teams/all}">View all teams</a>
            <a th:href="@{/admin/unassignedAgents}">View Unassigned Agents</a>
            <a th:href="@{/addDetails}">Edit my details</a>
            <a th:href="@{/addLangandServ}">Add Languages and Services</a>
            <a th:href="@{/private/sessionLogout}">Log Out</a>
        </div>
    </nav>
</div>

<div class="content-section">
    <form th:object="${form}" method="post" action="#">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Agent Name</th>
                <th>8am - 9am</th>
                <th>9am - 10am</th>
                <th>10am - 10am</th>
                <th>11am - 12pm</th>
                <th>12pm - 1pm</th>
                <th>1pm - 2pm</th>
                <th>2pm - 3pm</th>
                <th>3pm - 4pm</th>
                <th>4pm - 5pm</th>
                <th>5pm - 6pm</th>
                <th>6pm - 7pm</th>
                <th>7pm - 8pm</th>
                <th>8pm - 9pm</th>
                <th>9pm - 10pm</th>
                <th>10pm - 11pm</th>
                <th>11pm - 12am</th>
                <th>12am - 1am</th>
                <th>1am - 2am</th>
                <th>2am - 3am</th>
                <th>3am - 4am</th>
                <th>4am - 5am</th>
                <th>5am - 6am</th>
                <th>6am - 7am</th>
                <th>7am - 8am</th>
                <th>Set schedule</th>
            </tr>
            </thead>
            <tbody>
                <tr th:each="form, itemStat : *{list}">
                    <td th:text="*{list[__${itemStat.index}__].agent.name}"><input type="hidden" th:field="*{list[__${itemStat.index}__].agent.id}"></td>
                    <td><input type="checkbox" th:field="*{list[__${itemStat.index}__].scheduleMakingFormHelper.is8am}"></td>
                    <td><input type="checkbox" th:field="*{list[__${itemStat.index}__].scheduleMakingFormHelper.is9am}"></td>
                    <td><input type="checkbox" th:field="*{list[__${itemStat.index}__].scheduleMakingFormHelper.is10am}"></td>
                    <td><input type="checkbox" th:field="*{list[__${itemStat.index}__].scheduleMakingFormHelper.is11am}"></td>
                    <td><input type="checkbox" th:field="*{list[__${itemStat.index}__].scheduleMakingFormHelper.is12pm}"></td>
                    <td><input type="checkbox" th:field="*{list[__${itemStat.index}__].scheduleMakingFormHelper.is1pm}"></td>
                    <td><input type="checkbox" th:field="*{list[__${itemStat.index}__].scheduleMakingFormHelper.is2pm}"></td>
                    <td><input type="checkbox" th:field="*{list[__${itemStat.index}__].scheduleMakingFormHelper.is3pm}"></td>
                    <td><input type="checkbox" th:field="*{list[__${itemStat.index}__].scheduleMakingFormHelper.is4pm}"></td>
                    <td><input type="checkbox" th:field="*{list[__${itemStat.index}__].scheduleMakingFormHelper.is5pm}"></td>
                    <td><input type="checkbox" th:field="*{list[__${itemStat.index}__].scheduleMakingFormHelper.is6pm}"></td>
                    <td><input type="checkbox" th:field="*{list[__${itemStat.index}__].scheduleMakingFormHelper.is7pm}"></td>
                    <td><input type="checkbox" th:field="*{list[__${itemStat.index}__].scheduleMakingFormHelper.is8pm}"></td>
                    <td><input type="checkbox" th:field="*{list[__${itemStat.index}__].scheduleMakingFormHelper.is9pm}"></td>
                    <td><input type="checkbox" th:field="*{list[__${itemStat.index}__].scheduleMakingFormHelper.is10pm}"></td>
                    <td><input type="checkbox" th:field="*{list[__${itemStat.index}__].scheduleMakingFormHelper.is11pm}"></td>
                    <td><input type="checkbox" th:field="*{list[__${itemStat.index}__].scheduleMakingFormHelper.is12am}"></td>
                    <td><input type="checkbox" th:field="*{list[__${itemStat.index}__].scheduleMakingFormHelper.is1am}"></td>
                    <td><input type="checkbox" th:field="*{list[__${itemStat.index}__].scheduleMakingFormHelper.is2am}"></td>
                    <td><input type="checkbox" th:field="*{list[__${itemStat.index}__].scheduleMakingFormHelper.is3am}"></td>
                    <td><input type="checkbox" th:field="*{list[__${itemStat.index}__].scheduleMakingFormHelper.is4am}"></td>
                    <td><input type="checkbox" th:field="*{list[__${itemStat.index}__].scheduleMakingFormHelper.is5am}"></td>
                    <td><input type="checkbox" th:field="*{list[__${itemStat.index}__].scheduleMakingFormHelper.is6am}"></td>
                    <td><input type="checkbox" th:field="*{list[__${itemStat.index}__].scheduleMakingFormHelper.is7am}"></td>
                </tr>
            </tbody>
        </table>
        <input type="submit" id="submitButton" th:value="Save">
    </form>
</div>
</body>
</html>