.mobreg .recaptcha{
    perspective: 600px;
    width:100%;
}

img {
    width: 200px;
    height: 200px;
}

#auth-content {
    text-align: center;
}

body {
    background-size: cover;
    background-position: center;
}

#mobreg {
    border: 10px black;
}

