
.topnav {
    /*background-color: #577149;*/
    background-color: white;
    overflow: hidden;

}

/* Style the links inside the navigation bar */
.topnav a {
    font-weight: bold;
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #7a4d4b;
    color: white;
}

#top-banner {
    background-color: white;
    width: available;
    height: 215px;
    text-align: center;
}

.content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin: 10px 50px 20px;
}

.content-section-no-margin {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
}