<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View All Teams</title>
</head>
<body>
<div>
  <table>
    <thead>
    <tr>
      <th>Team ID</th>
      <th>Team manager</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="team : ${teams}">
      <td><a th:href="@{/admin/team/__${team.id}__}">Click here to see team details</a> </td>
      <td th:text="${team.manager.name}"></td>
    </tr>
  </table>
</div>
</body>
</html>